<!DOCTYPE html>
<html data-ng-app="uiDataGridApp">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>uiDataGrid - Angular Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="" name="description">
<meta content="" name="author">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="angular-datagrid/css/datagrid.css">
</head>
<body>
<br>
<div class="container">
	<div class="row">
		<div data-ng-controller="dataGridController">
			<p>
				<button class="btn btn-default" ng-click="load($event)">load</button>
				<button class="btn btn-default" ng-click="changeTitle($event)">Change Title</button>
			</p>
			<uidatagrid columns="mapper" rows="rows" autoload="autoload" title="title" ></uidatagrid>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="angular-datagrid/datagrid.js"></script>
<script>
// https://github.com/angular-ui/bootstrap/tree/master/src
angular.module('uiDataGridApp', ['uiDataGrid']).controller('dataGridController',function($scope){

	$scope.changeTitle = function() {
		$scope.title = 'New Title '+(new Date()).getTime();
	}
	
	$scope.load = function(ev) {
		$scope.autoload = true;
		angular.element(ev.currentTarget).remove();
	}
	
	$scope.title = 'Scope Title';
	$scope.autoload = false;

	$scope.mapper = [{
		name:'id',title:'Id',width:80,align:'center'
	},{
		name:'nome',title:'Nome',width:120
	},{
		name:'empresa',title:'Empresa'
	}];
	
	$scope.rows = [
		 {"id":"1","nome":"Fulano de Tal","empresa":"Empresa 1"}
		,{"id":"2","nome":"Beltrano da Silva","empresa":"Empresa 2"}
		,{"id":"3","nome":"Beltrano da Silva","empresa":"Empresa do tal"}
		,{"id":"4","nome":"Beltrano da Silva","empresa":"Empresa 123122"}
		,{"id":"5","nome":"Beltrano da Silva","empresa":"Empresa 2"}
		,{"id":"6","nome":"Beltrano da Silva","empresa":"Empresa 3312"}
		,{"id":"7","nome":"Beltrano da Silva","empresa":"Empresa 312"}
		,{"id":"8","nome":"Beltrano da Silva","empresa":"Empresa 3123122"}
		,{"id":"9","nome":"Fulano de Tal","empresa":"Empresa 221"}
		,{"id":"10","nome":"Beltrano da Silva","empresa":"Empresa 2"}
	];	
});
</script>
</body>
</html>