<div class="ui-datagrid-container panel panel-default">
	<div class="ui-datagrid-title panel-heading">{{ title }}</div>
	<div class="ui-datagrid-content">
		<div class="ui-datagrid-content-scroll">
			<div class="ui-datagrid-header">
				<table class="table">
					<thead>
						<tr>
							<th class="active">
								<table class="ui-datagrid table table-bordered table-condensed">
									<colgroup></colgroup>
									<thead>
										<tr class="active"></tr>
									</thead>
								</table>
							</th>
							<th class="active"></th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="ui-widget-content ui-datagrid-body">
				<table class="ui-datagrid ui-front table table-bordered table-condensed ui-datagrid-gridlayout">
					<colgroup>
					</colgroup>
					<tbody>
						<tr></tr>
					</tbody>
				</table>
				<table class="ui-datagrid ui-front table table-bordered table-condensed table-hover">
					<colgroup></colgroup>
					<thead>
						<tr></tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<div class="ui-state-error ui-front"></div>
			</div>
		</div>
	</div>
	<div class="ui-widget ui-state-default ui-datagrid-tools">
		<table class="ui-datagrid table table-bordered table-condensed">
			<tbody>
				<tr>
					<td>&nbsp;</td>
					<td><span></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>